.calculator {
    width: 300px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.equals {
    grid-row: 3 / 6;
    grid-column: 4 / 5;
}

.zero {
    grid-column: 1 / 3;
}